VITE_API_URL=http://localhost:5000/api
VITE_STRIPE_KEY=pk_test_your_stripe_key
VITE_RAZORPAY_KEY=rzp_test_your_razorpay_key
VITE_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
VITE_GA_ID=G-XXXXXXXXXX
VITE_SITE_URL=http://localhost:5173
